.moviebox{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.moviebox > div{
    background: #eee;
    opacity: 0.7;
    transition: all 1s ease-in-out;
}

.moviebox > div:hover{
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.moviebox > div > img, #movie img{
    width: 100%;
    height: 100%;
}

.navbar{
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.topline{
    margin-top: 60px;
    border: 1px solid #fff;
}

@media(min-width: 960px){
    
}